<ion-header>
  <ion-toolbar>
    <ion-title>home</ion-title>
  </ion-toolbar>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />

</ion-header>

<ion-content>

  <div *ngIf="flashlightDisplay"> <p>Flashlight</p>
  <ion-button shape="round" color="success" (click)="switchOnTorch()">ON</ion-button>
  <ion-button shape="round" color="danger" (click)="switchOffTorch()">OFF</ion-button>
  </div>

  <div *ngIf="coordsDisplay">
    <p>Ihre aktuelle Position:</p>
    <p>Breitengrad: {{latitude}}</p>
    <p>Längengrad: {{longitude}}</p>
  </div>


</ion-content>
