<ion-header>
  <ion-toolbar>
    <ion-title>Home</ion-title>
  </ion-toolbar>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />

</ion-header>

<ion-content>

  <div *ngIf="flashlightDisplay" style="padding: 20px">
    <h2>Taschenlampe </h2>


    <ion-button shape="round" color="success" (click)="switchOnTorch()">AN</ion-button>
  <ion-button shape="round" color="danger" (click)="switchOffTorch()">AUS</ion-button>
  </div>

  <div *ngIf="coordsDisplay" style="padding: 20px">
    <h2>Ihre aktuelle Position:</h2>
    <p>Breitengrad: {{latitude}}</p>
    <p>Längengrad: {{longitude}}</p>
  </div>


</ion-content>
